body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue; 
}

.container{
    width: 1000px;
    height: 520px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
    

}

.gridContainer{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    border: solid 1px #aaa;

}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.displayInfo{
    border: solid 2px red;
    width: 200px;
    height: 520px;
}



.playerX{

    width: 60px;
    height: 60px;
    position: relative;
    margin: auto;
    border: none;
}
.playerX:after {
    content: '';
    height: 60px;
    border-left: 2px solid black;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
}

.playerX:before {
    content: '';
    height: 60px;
    border-left: 2px solid black;
    position: absolute;
    transform: rotate(-45deg);

}
.playerO{
    width: 50px;
    height: 50px;
    margin: 50px auto;
    border-radius: 50% 50%;
} 

body {
    margin:0;
    padding:0;
 }
 #divChrono, #formChrono  {
    margin:10px;
    padding:10px;
    background-color:DarkSeaGreen;
    font-family:Arial;
    font-size:20px;
    text-align:center;
    color:Crimson;
 }

 